@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.primary-btn {
  @apply border-2 px-6 py-3 text-lg hover:bg-sky-600 hover:border-sky-600 hover:-translate-y-1 duration-150 hover:shadow-2xl
  border-sky-500 text-sky-500 hover:text-white;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 20%;
}

.icon-scroll {
  width: 30px;
  height: 50px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: "";
  width: 6px;
  height: 6px;
  background: #fff;
  top: 8px;
  left: 12px;
  border-radius: 4px;
  animation: scroll infinite 1.5s;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

.social-icon__list {
  @apply flex justify-end items-center w-[160px] h-[60px]  -ml-[100px] hover:-ml-[10px] duration-300 shadow-2xl text-pink-500;
}

.nav-link {
  @apply hover:text-pink-500 transition duration-200;
}

.nav-div {
  @apply w-full h-[80px] fixed z-40 text-gray-200 px-6 flex justify-between items-center bg-primary duration-300 shadow-md;
}

.about-text {
  transform: rotate(-90deg);
}

.about-text:after {
  content: "";
  width: 50%;
  @apply p-1 block border-b-4 border-sky-500;
}

.wrapper-div {
  @apply container max-w-6xl mx-auto flex flex-col lg:flex-row justify-center h-full w-full items-start lg:items-center space-y-12 lg:space-y-0;
}

.heading__large {
  @apply text-6xl md:text-7xl font-bold tracking-widest border-b-4 border-sky-500 pb-4;
}

.heading__small {
  @apply text-8xl font-bold about-text tracking-widest;
}

.heading-div__large {
  @apply flex justify-center w-full text-gray-700 lg:hidden;
}

.heading-div__small {
  @apply hidden lg:flex justify-start w-1/3 text-gray-700;
}

.sub-heading::after {
  content: "";
  display: block;
  margin-top: -14px;
  margin-left: 120px;
  width: 110px;
  height: 1px;
  @apply bg-gray-400;
}

.author-title {
  transform: rotate(90deg);
}

input,
textarea {
  @apply bg-gray-900 p-3 tracking-wider text-white active:outline-none active:border-none focus:outline-none focus:border-b border-sky-500 shadow-xl;
}

input::placeholder, textarea::placeholder {
    @apply text-gray-500 tracking-wider
}
